body {
    background: radial-gradient(circle, #ffffff, #00000060);
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid{
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 1fr;
    border: 3px solid cornflowerblue;       
}

.gItem{
    border: 1px solid #000000;
}

.gItem:nth-child(1){
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-color: aqua;
}